.main .content {
  background: #3aca2c;
  min-height: 1000px;
  height: fit-content;
  padding-bottom: 20px;
  padding-top: 20px;
}

.content .home h1 {
  text-align: center;
}
.content .home h2 {
  text-align: center;
}

.content .searchbar-container p {
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
  color: #fa0606;
}

.searchbar-container {
  padding: 10px;
  max-width: 500px;
  margin-left: 34%;
  background: #ffffff;
  border-radius: 10px;
}

.content .result {
  margin-left: 10%;
  margin-right: 10%;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  height: fit-content;
}

.content .result h2 {
  text-align: left;
}

.detail-container {
  background: #8cc787;
}

.detail-content {
  background: #a4da9f;
}
